{% extends 'base.html.twig' %}

{% block title %}Établissements
{% endblock %}

{% block body %}
	{% block navbar %}
		{{ parent() }}
	{% endblock %}

	<div class="container">
		<h1>Établissements</h1>
		<a href="{{ path('app_institution_new') }}" class="btn btn-success">Create new</a>
		<br>

		{% for institution in institutions %}
			{% if institution.accepted %}
				<div class="card">
					<h3>{{ institution.name }}</h3>
					<h5>{{ institution.postalCode }}</h5>
					<h5>{{ institution.address }}</h5>
					{% if follows[institution.id] %}
						<form action="{{ path('app_institution_unfollow', {'id': institution.id}) }}" method="post">
							<input type="hidden" name="_token" value="{{ csrf_token('unfollow' ~ institution.id) }}">
							<button type="submit" class="btn btn-danger mr-2">Ne plus suivre</button>
						</form>
					{% else %}
						<form action="{{ path('app_institution_follow', {'id': institution.id}) }}" method="post">
							<input type="hidden" name="_token" value="{{ csrf_token('follow' ~ institution.id) }}">
							<button type="submit" class="btn btn-primary mr-2">Suivre</button>
						</form>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
		{% if institutions|length == 0 %}
			<tr>
				<td colspan="6">Il n'y a aucun établissements</td>
			</tr>
		{% endif %}

	</div>

	{% block footer %}
		{{ parent() }}
	{% endblock %}
{% endblock %}
