{% extends 'base.html.twig' %}

{% block title %}Institution index{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    
    <div class="container">
        <h1>Institution index</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Postal Code</th>
                    <th>Address</th>
                    <th>Accepted</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for institution in institutions %}
                    <tr>
                        <td>{{ institution.id }}</td>
                        <td>{{ institution.name }}</td>
                        <td>{{ institution.postalCode }}</td>
                        <td>{{ institution.address }}</td>
                        <td>{{ institution.accepted ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('app_institution_show', {'id': institution.id}) }}" class="btn btn-info">Show</a>
                            <a href="{{ path('app_institution_edit', {'id': institution.id}) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if institutions|length == 0 %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <a href="{{ path('app_institution_new') }}" class="btn btn-success">Create new</a>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
