{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {# Inclure le lien vers le fichier CSS de Bootstrap #}
    <link rel="stylesheet" href="chemin/vers/bootstrap.css">
    <style>
        /* Ajoutez vos styles personnalisés ici */
        .container-fluid {
            height: 100vh; /* Utilisez 100% de la hauteur de la fenêtre */
        }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid d-flex justify-content-center align-items-center">
    <form class="form-signin col-md-6 p-4" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" placeholder="Username" autocomplete="username" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <div class="input-group mb-3">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" id="togglePassword">Show</button>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        <div class="col-md-6">
            <p>Don't have an account? <a href="{{ path('app_register') }}">Create one</a></p>
        </div>
    </form>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function() {
        const passwordInput = document.getElementById('inputPassword');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            this.textContent = 'Hide';
        } else {
            passwordInput.type = 'password';
            this.textContent = 'Show';
        }
    });
</script>
{% endblock %}
