{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <div class="container mt-4">
            <div class="row justify-content-center">
                {% for post in posts %}
                    <div class="col-md-8 mb-4"> {# Utilisez une seule colonne ici #}
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ post.user.username }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ post.createdAt|date('d/m/Y H:i') }}</p>
                                <p class="card-text">{{ post.body }}</p>
                                <!-- Affiche le temps post.timing -->
                                {% if post.timing %}
                                    <p class="card-text">Temps de retard: {{ post.timing|date('H:i') }} minutes</p>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                                Publié le {{ post.createdAt|date('d/m/Y H:i') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block footer %}
    {% include 'home/_trends.html.twig' %}
{% endblock %}
{% endblock %}
