{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 d-flex flex-column justify-content-between">
                    <!-- Contenu de la première colonne -->
                    {% block navbar %}
                        {% include 'home/_navbar.html.twig' %}
                    {% endblock %}
                </div>
                <div class="col-md-4">
                    <!-- Contenu de la deuxième colonne -->
                    <div class="posts overflow-auto">
                        {% for post in posts %}
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5>{{ post.user.username }}</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ post.createdAt|date('d/m/Y H:i') }}</p>
                                    <p class="card-text">{{ post.body }}</p>
                                    <!-- Affiche le temps post.timing -->
                                    {% if post.timing %}
                                        <p class="card-text">Temps de retard: {{ post.timing|date('H:i') }} minutes</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer text-muted">
                                    Publié le {{ post.createdAt|date('d/m/Y H:i') }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Contenu de la troisième colonne -->
                    <div class="trends">
                        <!-- Élément central -->
            <div class="d-flex align-items-center justify-content-center">
                <form class="form-inline d-flex" action="{{ path('app_login') }}" method="GET">
                    <input class="form-control m-1" type="text" name="query" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary m-1" type="submit">Go</button>
                </form>
            </div>
                        <div>
                            <span>terst dnkdfdsfs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
