{% extends 'base.html.twig' %}

{% block body %}
	{% block navbar %}
		{{ parent() }}
	{% endblock %}
	{% block content %}
		<div class="container mt-4">
			<div class="row justify-content-center">
				<div class="posts">
					{% if hashtag %}
						<div>
							<h2>Hashtag "{{ query }}"</h2>
							{% if isFollowingHashtag %}
								<form action="{{ path('unsubscribe_hashtag', {'id': hashtag.id}) }}" method="post">
									<button type="submit" class="btn btn-warning">Unsubscribe</button>
								</form>
							{% else %}
								<form action="{{ path('follow_hashtag', {'id': hashtag.id}) }}" method="post">
									<button type="submit" class="btn btn-primary">Subscribe</button>
								</form>
							{% endif %}
						</div>
					{% endif %}
					{% if users is not empty %}
						<ul>
							{% for user in users %}
								<a href="/{{ user.id }}" type="button" style="border-radius:0;" class="btn btn-primary">
									{{user.firstName}}
									{{user.lastName}}
									<span>@{{ user.username }}</span>
								</a><br>
							{% endfor %}
						</ul>
					{% else %}
						<p>Aucun utilisateur ne porte ce nom</p>
					{% endif %}
					{% if posts is not empty %}
						{% for post in posts %}
							<div class="tweet-wrap" id="post-{{ post.id }}" data-post-id="{{ post.id }}" data-user-id="{{ post.user.id }}">
								{% include 'post/show.html.twig' with {'post': post} %}
							</div>
							{% set included = false %}

							{% if not included %}
								{% include 'post/modals.html.twig' %}
								{% set included = true %}
							{% endif %}
						{% endfor %}
					{% else %}
						<p>Aucun posts</p>
					{% endif %}
				</div>
			</div>
		</div>
	{% endblock %}
	{% block footer %}
		{% include 'home/_trends.html.twig' %}
	{% endblock %}
{% endblock %}
