{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Corp du Post</th>
                <th>Temps du Retard</th>
                <th>Date du Post</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.timing ? post.timing|date('H:i:s') : '' }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% for imagePost in post.imagePosts %}
                        <img src="/uploads/images/{{ imagePost.image.image }}" alt="Post image" width="100">
                    {% endfor %}
                    {% if post.imagePosts is empty %}
                        <p>No images for this post (debug: {{ dump(post.imagePosts) }})</p>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">Afficher</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Rien à voir</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Create new</a>
{% endblock %}
