{% block body %}
	<div>
		<div
			class="tweet-header">
			<!-- If user has a image, display it -->
			{% if post.user.image %}
				<a href="{{ path('app_user_show', {'id': post.user.id}) }}">
					<img src="{{ asset('uploads/images/' ~ post.user.image.image) }}" alt="Profile picture" class="avator">
				</a>
			{% else %}
				<a href="{{ path('app_user_show', {'id': post.user.id}) }}">
					<img src="{{ asset('uploads/images/default.png') }}" alt="Profile picture" class="avator">
				</a>
			{% endif %}

			<div
				class="tweet-header-info">
				<!-- Make the name and username clickable -->
				<a href="{{ path('app_user_show', {'id': post.user.id}) }}">
					{% if post.user.lastname != null and post.user.firstname != null %}
						{{ post.user.firstname }}
						{{ post.user.lastname }}
					{% else %}
						{{ post.user.username }}
					{% endif %}
					<span>@{{ post.user.username }}</span>
				</a>
				<span>{{ post.createdAt|date('d M, Y') }}</span>

				<div class="css-dropdown">
					<button class="dropdown-button">•••</button>
					<div class="dropdown-content">
						{% if app.user and app.user.id == post.user.id %}
							<a href="{{ path('app_post_edit', {'id': post.id}) }}?returnUrl={{ app.request.uri|url_encode }}">
								<i class="fa-solid fa-pen"></i>
								Modifier
							</a>
							{{ include('post/_delete_form.html.twig') }}
						{% endif %}
						<!-- Report post -->
						<button type="button" data-bs-toggle="modal" data-bs-target="#reportModalPost-{{ post.id }}">
							<i class="fa-solid fa-flag"></i>
							Report</button>
					</div>
				</div>
				<p>{{ post.body }}</p>

			</div>
		</div>
		<div class="tweet-img-wrap">
			{% for imagePost in post.imagePosts %}
				<img src="/uploads/images/{{ imagePost.image.image }}" class="tweet-img" alt="Post image" style="max-width:100%;">
			{% endfor %}
		</div>
		<div class="tweet-info-counts">
			{% if app.user %}
				{% set userLike = post.likes|filter(like => like.user == app.user and not like.superlike) %}
				{% set regularLikesCount = post.likes|filter(like => not like.superlike)|length %}
				{% if userLike|length == 0 %}
					<a href="{{ path('app_post_like', {'id': post.id}) }}" class="btn btn-primary">
						<i class="bi bi-heart"></i>
						{{ regularLikesCount }}
					</a>
				{% else %}
					<a href="{{ path('app_post_unlike', {'id': post.id}) }}" class="btn btn-danger">
						<i class="bi bi-heart-fill"></i>
						{{ regularLikesCount }}
					</a>
				{% endif %}
				{% set userSuperlike = post.likes|filter(like => like.user == app.user and like.superlike) %}
				{% set superLikesCount = post.likes|filter(like => like.superlike)|length %}
				{% if userSuperlike|length == 0 %}
					<a href="{{ path('app_post_superlike', {'id': post.id}) }}" class="btn btn-info">
						<i class="bi bi-star"></i>
						{{ superLikesCount }}
					</a>
				{% else %}
					<a href="{{ path('app_post_superunlike', {'id': post.id}) }}" class="btn btn-secondary">
						<i class="bi bi-star-fill"></i>
						{{ superLikesCount }}
					</a>
				{% endif %}
			{% endif %}
			<!-- Comment post -->
			{% set commentsCount = post.comments|length %}
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCommentLabel-{{ post.id }}">
				<i class="fa-regular fa-comment"></i>
				{{ commentsCount }}</button>
		</div>
	</div>

{% endblock %}
