{% extends 'base.html.twig' %}
{% block body %}

	<div class="container mt-4">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						{{ post.user.username }}
					</div>
					<div class="card-body">
						{% for imagePost in post.imagePosts %}
							<img src="/uploads/images/{{ imagePost.image.image }}" class="card-img-top" alt="Post image" width="100">
						{% endfor %}

						<h3 class="card-title">{{ post.title }}</h3>
						<p class="card-text">{{ post.body }}</p>
						<p class="text-muted">Posted on:
							{{ post.createdAt|date('M d, Y') }}</p>
					</div>
					<div class="card-footer bg-light text-muted">
						{% if app.user and app.user.id == post.user.id %}
							{# Manually append the returnUrl query parameter to the URL #}
							<a href="{{ path('app_post_edit', {'id': post.id}) }}?returnUrl={{ app.request.uri|url_encode }}" class="btn btn-primary">
								<i class="bi bi-pencil"></i>
								Modifier
							</a>
							{{ include('post/_delete_form.html.twig') }}
						{% endif %}
						{% if app.user %}
							{% set userLike = post.likes|filter(like => like.user == app.user and not like.superlike) %}
							{% set regularLikesCount = post.likes|filter(like => not like.superlike)|length %}
							{% if userLike|length == 0 %}
								<a href="{{ path('app_post_like', {'id': post.id}) }}" class="btn btn-primary">
									<i class="bi bi-heart"></i>
									{{ regularLikesCount }}
									Like
								</a>
							{% else %}
								<a href="{{ path('app_post_unlike', {'id': post.id}) }}" class="btn btn-danger">
									<i class="bi bi-heart-fill"></i>
									{{ regularLikesCount }}
									Unlike
								</a>
							{% endif %}
						{% endif %}
						{% if app.user %}
							{% set userSuperlike = post.likes|filter(like => like.user == app.user and like.superlike) %}
							{% set superLikesCount = post.likes|filter(like => like.superlike)|length %}
							
							{% if userSuperlike|length == 0 %}
								<a href="{{ path('app_post_superlike', {'id': post.id}) }}" class="btn btn-info">
									<i class="bi bi-star"></i>
									{{ superLikesCount }}
									Superlike
								</a>
							{% else %}
								<a href="{{ path('app_post_superunlike', {'id': post.id}) }}" class="btn btn-secondary">
									<i class="bi bi-star-fill"></i>
									{{ superLikesCount }}
									Superlike
								</a>
							{% endif %}
						{% endif %}
						<!-- Report post -->
						<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reportModalPost-{{ post.id }}">Report</button>
						
						<!-- Comment post -->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCommentLabel-{{ post.id }}">Comment</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Report Post Modal -->
	<div class="modal fade" id="reportModalPost-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="reportModalPostLabel-{{ post.id }}" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="reportModalPostLabel-{{ post.id }}">Report Post</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ render(controller('App\\Controller\\PostController::reportPost', {'id': post.id})) }}
				</div>
			</div>
		</div>
	</div>
	<!-- Comment Modal -->
	<div class="modal fade" id="modalCommentLabel-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modalCommentLabel-{{ post.id }}" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalCommentLabel-{{ post.id }}">Comment Post</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				z
				<hr>
				<div class="modal-body">
					{{ render(controller('App\\Controller\\PostController::comment', {'id': post.id})) }}
				</div>
			</div>
		</div>
	</div>
	<!-- Success Modal HTML -->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="successModalLabel">Report</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Le report a été envoyé avec succès!
				</div>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const urlParams = new URLSearchParams(window.location.search);
			if (urlParams.has('error')) {
				if (urlParams.get('error') === 'superlike_limit') {
					alert('Tu ne peux pas superliker plus d\'une fois par semaine!');
					// Remove the query parameters from the URL
					window.history.replaceState({}, document.title, window.location.pathname);
				}
			}
		});
		$(document).ready(function () {
			$('.btn[data-bs-toggle="modal"]').off('click').on('click', function () {
				var targetId = $(this).attr('data-bs-target');
				$(targetId).modal('show');
			});

			$('.close').click(function() {
				var modalId = $(this).closest('.modal').attr('id');
				var modalElement = $('#' + modalId);
				var modalInstance = bootstrap.Modal.getInstance(modalElement);
				modalInstance.hide();
			});
		});
	</script>
{% endblock %}
	{% block javascripts %}
	{{ parent() }}
	<script>
	$(document).ready(function() {
		// Function to parse query parameters from the URL
		function getQueryParam(param) {
			var result = new RegExp('[\?&]' + param + '=([^&#]*)').exec(window.location.href);
			return result ? decodeURIComponent(result[1].replace(/\+/g, ' ')) : false;
		}

		// This assumes each post has a unique data attribute or way to specify which modal to show
		$('.post-container').each(function() {
			var postId = $(this).data('post-id'); // Assuming each post container has a data attribute for post ID
			var success = getQueryParam('success-' + postId); // Check for a unique success param for each post

			if (success) {
				$('#successModal-' + postId).modal('show'); // Show success modal specific to the post
				// Remove specific success query param to avoid re-triggering
				var newUrl = window.location.href.replace(new RegExp("([&\?])success-" + postId + "=[^&]*", "g"), "");
				window.history.replaceState(null, document.title, newUrl);
			}
		});

		// Modal open triggers should be scoped to specific posts as well
		$('.btn[data-bs-target]').on('click', function() {
			var targetId = $(this).attr('data-bs-target');
			$(targetId).modal('show');
		});

		$('.close').on('click', function() {
			var modalId = $(this).closest('.modal').attr('id');
			$('#' + modalId).modal('hide');
		});
		$('.modal').on('hidden.bs.modal', function () {
			$('.modal-backdrop').remove();
		});
	});

	</script>
	{% endblock %}

