{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edit User</h1>

	{{ form_start(form) }}
	{{ form_row(form.image) }}
	{{ form_row(form.username) }}
	{{ form_row(form.password) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.email) }}
	{{ form_row(form.biography) }}
	{{ form_row(form.institution) }}
	<button type="submit" class="btn btn-primary">Update</button>
	{{ form_end(form) }}
{% endblock %}
