{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">User Profile</div>

                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Username</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">First Name</th>
                                <td>{{ user.firstName }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.lastName }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Biography</th>
                                <td>{{ user.biography }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Joined</th>
                                <td>{{ user.createdAt ? user.createdAt|date('M d, Y') : '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <!-- Affichage des abonnés et abonnements -->
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Followers</h5>
                            <ul>
                                {% for follower in user.followers %}
                                    <li>{{ follower.username }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Following</h5>
                            <p>{{ user.following|length }} personne(s) suivie(s)</p>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Éditer</a>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
