{% extends 'base.html.twig' %}

{% block title %}User Profile
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">User Profile</div>
					<div class="card-body">
						{% if user.image %}
							<img src="{{ asset('uploads/images/' ~ user.image.image) }}" alt="Profile picture" class="mx-auto d-block" width="100" height="100" style="border-radius: 50%; object-fit: cover;">
						{% else %}
							<img src="{{ asset('uploads/images/default.jpg') }}" alt="Profile picture" class="mx-auto d-block" width="100" height="100" style="border-radius: 50%; object-fit: cover;">
						{% endif %}

						<table class="table">
							<tbody>
								<tr>
									<th scope="row">Username</th>
									<td>{{ user.username }}</td>
								</tr>
								<tr>
									<th scope="row">First Name</th>
									<td>{{ user.firstName }}</td>
								</tr>
								<tr>
									<th scope="row">Last Name</th>
									<td>{{ user.lastName }}</td>
								</tr>
								<tr>
									<th scope="row">Biography</th>
									<td>{{ user.biography }}</td>
								</tr>
								<tr>
									<th scope="row">Joined</th>
									<td>{{ user.createdAt ? user.createdAt|date('M d, Y') : '' }}</td>
								</tr>
								<tr>
									<th scope="row">Email</th>
									<td>{{ user.email }}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div
						class="card-footer">
						<!-- Affichage des abonnés et abonnements -->

						<div class="card-footer d-flex justify-content-evenly">
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Éditer</a>
							{{ include('user/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
