{% extends 'base.html.twig' %}

{% block title %}User Profile
{% endblock %}

{% block body %}

	{% block navbar %}
		{{ parent() }}
	{% endblock %}

	<div class="container mt-4" style="width: max-content;">
		<div class="row justify-content-center">
			<div>
				<div class="card">
					<div class="card-body">
						{% if user.image %}
							<img src="{{ asset('uploads/images/' ~ user.image.image) }}" alt="Profile picture" class="mx-auto d-block" width="100" height="100" style="border-radius: 50%; object-fit: cover; margin: 5%;">
						{% else %}
							<img src="{{ asset('uploads/images/default.jpg') }}" alt="Profile picture" class="mx-auto d-block" width="100" height="100" style="border-radius: 50%; object-fit: cover;">
						{% endif %}

						<table class="table">
							<tbody>
								<tr>
									<th scope="row">Username</th>
									<td>{{ user.username }}</td>
								</tr>
								<tr>
									<th scope="row">Prénom</th>
									<td>{{ user.firstName }}</td>
								</tr>
								<tr>
									<th scope="row">Nom</th>
									<td>{{ user.lastName }}</td>
								</tr>
								<tr>
									<th scope="row">Bio</th>
									<td>{{ user.biography }}</td>
								</tr>
								<tr>
									<th scope="row">Membre depuis</th>
									<td>{{ user.createdAt ? user.createdAt|date('M d, Y') : '' }}</td>
								</tr>
								{% if user.institution %}
									<tr>
										<th scope="row">Établissements</th>
										<td>{{ user.institution.name }}</td>
									</tr>
								{% endif %}

							</tbody>
						</table>
					</div>

					<div class="card-footer bg-light">
						<div class="row">
							<div class="col">
								<p class="text-muted">
									<strong>
										{{ numberOfFollowers }}</strong>
									followers</p>
							</div>
							<div class="col">
								<p class="text-muted">
									<strong>
										{{ numberOfFollowings }}</strong>
									suivi(e)s</p>
							</div>
							<div class="col">
								<p class="text-muted">
									<strong>
										{{ numberOfPosts }}</strong>
									posts</p>
							</div>
						</div>
					</div>

					<div
						class="card-footer text-white d-flex justify-content-between">
						<!-- Affichage des boutons d'action -->
						{% if app.user.id == user.id %}
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary mr-2 ">
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary mr-2">
								<i class="bi bi-gear-fill"></i>
							</a>
							<a href="{{ path('app_post_new') }}" class="btn btn-primary mr-2">
								<i class="bi bi-plus"></i>
							</a>
						{% else %}
							{% if follow is empty %}
								<a href="{{ path('app_user_follow', {'id': user.id}) }}" class="btn btn-primary mr-2">Suivre</a>
							{% else %}
								<a href="{{ path('app_user_unfollow', {'id': user.id}) }}" class="btn btn-danger mr-2">Ne plus suivre</a>
							{% endif %}
						{% endif %}
						<!-- Report l'utilisateur -->

						<a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#reportModal">Signaler</a>
						<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#reportModal">Signaler</a>

						<!-- Supprimer l'utilisateur -->
						{% if app.user.id == user.id or app.user.roles[0] == 'ROLE_ADMIN' %}
							<form action="{{ path('app_user_delete', {'id': user.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
						{% endif %}


						{% if app.user.id != user.id %}
							<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#reportModal">Signaler</a>
						{% endif %}

					</div>

					<div
						class="card-footer bg-light">
						<!-- Affichage des posts de l'utilisateur -->
						{% if numberOfPosts == 0 %}
							<p>Il n'y a pas de post</p>
						{% else %}
							{% for post in posts %}
								<div class="tweet-wrap" id="post-{{ post.id }}" data-post-id="{{ post.id }}" data-user-id="{{ post.user.id }}">
									{% include 'post/show.html.twig' with {'post': post} %}
								</div>
								{% set included = false %}

								{% if not included %}
									{% include 'post/modals.html.twig' %}
									{% set included = true %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- Report User Modal -->
		<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="reportModalLabel">Report User</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ render(controller('App\\Controller\\UserController::reportuser', {'id': user.id})) }}
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () { // Trigger modal open
$('.btn[data-target="#reportModal"]').click(function () {
$('#reportModal').modal('show');
});

$('.close').on('click', function () {
$('#reportModal').modal('hide');
});
});
		</script>


	{% endblock %}
	{% block footer %}
		{% include 'home/_trends.html.twig' %}
	{% endblock %}
